.OxemPresentation-wrapper {
   display: flex;
   flex-direction: column;
   padding: 40px;

   @media (max-width: 320px) {
      padding: 15px;
   }

   .Container-buttons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 40px;

      .Button-container {
         display: flex;
         flex-direction: column;

         span {
            font-family: 'Gilroy';
            color: #575757;
            margin-bottom: 10px;
         }
      }
   }

   .Container-Inputs {
      display: flex;
      flex-direction: column;

      .Inputs-Container {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         margin-bottom: 30px;
         span {
            font-family: 'Gilroy';
            color: #575757;
            margin-bottom: 10px;
         }
      }
   }
}
