.OxemHome-wrapper {
   @media (min-width: 768px) {
      padding: 100px 48px;
   }

   @media (max-width: 767px) {
      padding: 44px 21px 64px;
   }

   @media (max-width: 321px) {
      padding: 40px 15px 55px;
   }
}
