.OxemButton-wrappper {
   min-width: 103px;
   height: 48px;
   color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 12px 24px;
   border: none;
   border-radius: 40px;
   background-color: #ff9514;
   cursor: pointer;
   transition: background-color 0.18s;
   position: relative;
   user-select: none;
   font-family: 'Nekst-Black';
   font-style: normal;
   font-weight: 900;
   font-size: 30px;
   line-height: 36px;

   @media (max-width: 576px) {
      font-size: 22px;
      line-height: 20px;
   }

   &:hover {
      background-color: #111111;
   }

   &:disabled,
   &[disabled] {
      background-color: rgba(255, 149, 20, 0.4);
      pointer-events: none;
      cursor: default;

      &.loading {
         opacity: 0.5;
      }
   }

   &:active {
      background-color: #575757;
   }

   &.loading {
      color: transparent;
      cursor: wait;
      background-color: #ff9514;
   }

   .OxemButton-loader {
      position: absolute;
      width: 21px;
      height: 21px;
      border: 2px solid #fff;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1.2s linear infinite;

      @keyframes rotation {
         0% {
            transform: rotate(0deg);
         }
         100% {
            transform: rotate(360deg);
         }
      }
   }
}
