.OxemInputSecond-wrappper {
   display: flex;
   flex-direction: column;
   position: relative;
   min-width: 0;
   margin: 0;
   vertical-align: top;
   background: #f3f3f4;
   border: 2px solid #f3f3f4;
   border-radius: 16px;
   transition: background-color 0.2s;

   font-family: 'Nekst-Black';
   font-style: normal;
   font-weight: 900;
   font-size: 30px;
   line-height: 36px;
   color: #575757;
   * {
      font-family: 'Nekst-Black';
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 36px;
      color: #575757;

      @media (max-width: 767px) {
         font-size: 22px;
         line-height: 20px;
         color: #333e48;
      }
   }

   &:focus-within {
      background-color: #ffffff;
   }

   &.disabled,
   &[disabled] * {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
   }

   .OxemInputSecond-content {
      padding: 0 7px 0 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .OxemInputSecond-prefix {
         display: flex;
         padding: 16px 7px 16px 0;

         @media (max-width: 767px) {
            padding: 20px 6px 20px 0;
            line-height: 26px;

            span {
               line-height: 22px;
            }
         }

         @media (min-width: 768px) {
            span {
               line-height: 28px;
            }
         }
      }

      .OxemInputSecond-inputWrapper {
         background: rgba(224, 224, 224, 0.4);
         border-radius: 16px;
         padding: 15px 17px;    

         @media (max-width: 767px) {
            padding: 14px;
         }

         @media (max-width: 320px) {
            padding: 12px 10px;
         }

         .OxemInputSecond-input {
            max-width: 40px;
            display: block;
            border: 0;
            box-sizing: content-box;
            background: none;
            border: none;
            margin: 0;
            padding: 0;
            font-family: 'Nekst-Black';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 120%;
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
               -webkit-appearance: none;
               margin: 0;
            }

            &:focus {
               outline: none;
            }

            &::placeholder {
               font-size: 20px;
            }

            @media (max-width: 767px) {
               font-size: 22px;
               line-height: 20px;
               color: #333e48;
            }
         }
      }
   }

   .OxemInputSecond-wrapperRange {
      margin: 0 24px;
      display: flex;
      position: relative;
      margin-bottom: -2px;
      cursor: pointer;

      .OxemInputSecond-range {
         -webkit-appearance: none;
         width: 100%;
         height: 1px;
         margin: 0;
         background: #e1e1e1;
         border: none;
         cursor: pointer;

         &:focus {
            outline: none;
         }

         &::-webkit-slider-thumb {
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: #ff9514;
            cursor: ew-resize;
         }
         &::-webkit-slider-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 100%;
            background: #ff9514;
            cursor: ew-resize;
         }
         &::-moz-range-track {
            width: 100%;
            height: 1px;
            margin: 0;
            cursor: pointer;
         }
         &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 100%;
            background: #ff9514;
            cursor: ew-resize;
         }
         &::-ms-track {
            width: 100%;
            height: 1px;
            margin: 0;
            cursor: pointer;
            background: #ff9514;
         }
         &::-ms-thumb {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: none;
            background: #ff9514;
            cursor: ew-resize;
         }
      }

      .OxemInputSecond-rangeProgress {
         height: 2px;
         position: absolute;
         z-index: 0;
         bottom: 0;
         background-color: #ff9514;
         cursor: pointer;
      }
   }
}
