.OxemInput-wrappper {
   display: flex;
   flex-direction: column;
   position: relative;
   min-width: 0;
   margin: 0;
   vertical-align: top;
   background: #f3f3f4;
   border: 2px solid #f3f3f4;
   border-radius: 16px;
   padding: 0 24px;
   transition: background-color 0.2s;

   @media (max-width: 767px) {
      padding: 0 20px;
   }

   * {
      font-family: 'Nekst-Black';
      font-style: normal;
      font-weight: 900;
      font-size: 30px;
      line-height: 36px;
      color: #575757;

      @media  (max-width: 767px) {
         font-size: 22px;
         line-height: 20px;
         color: #333e48;
      }
   }

   &:focus-within {
      background-color: #ffffff;
   }

   &.disabled,
   &[disabled] * {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
   }

   .OxemInput-input {
      width: 100%;
      display: block;
      border: 0;
      box-sizing: content-box;
      background: none;
      border: none;
      margin: 0;
      padding: 16px 0;
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      &:focus {
         outline: none;
      }

      &::placeholder {
         font-size: 30px;
      }
      @media (max-width: 767px) {
         padding: 20px 0;
      }
   }

   .OxemInput-content {
      display: flex;
      align-items: center;

      .OxemInput-adornment {
         div,
         span {
            width: 40px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(224, 224, 224, 0.4);
            border-radius: 16px;
            padding: 15px 17px;
            font-weight: 900;
            font-size: 20px;
            line-height: 120%;
            text-align: right;
            color: #575757;

            @media (max-width: 767px) {
               padding: 14px;
               font-size: 22px;
               line-height: 20px;
               color: #333e48;
            }
         }
      }
   }

   .OxemInput-wrapperRange {
      display: flex;
      position: relative;
      margin-bottom: -2px;
      cursor: pointer;

      .OxemInput-range {
         -webkit-appearance: none;
         width: 100%;
         height: 1px;
         margin: 0;
         background: #e1e1e1;
         border: none;
         cursor: pointer;

         &:focus {
            outline: none;
         }

         &::-webkit-slider-thumb {
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: #ff9514;
            cursor: ew-resize;
         }
         &::-webkit-slider-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 100%;
            background: #ff9514;
            cursor: ew-resize;
         }
         &::-moz-range-track {
            width: 100%;
            height: 1px;
            margin: 0;
            cursor: pointer;
         }
         &::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border: none;
            border-radius: 100%;
            background: #ff9514;
            cursor: ew-resize;
         }
         &::-ms-track {
            width: 100%;
            height: 1px;
            margin: 0;
            cursor: pointer;
            background: #ff9514;
         }
         &::-ms-thumb {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: none;
            background: #ff9514;
            cursor: ew-resize;
         }
      }

      .OxemInput-rangeProgress {
         height: 2px;
         position: absolute;
         z-index: 0;
         bottom: 0;
         background-color: #ff9514;
         cursor: pointer;
      }
   }
}
