.OxemForm {
   .OxemForm-title {
      max-width: 753px;
      font-family: 'Nekst-Black';
      font-style: normal;
      font-weight: 900;
      line-height: 90%;
      color: #111;
      font-size: 34px;
      margin: 0;
      margin-bottom: 32px;

      @media (min-width: 768px) {
         font-size: 54px;
         margin-bottom: 44px;
      }
      @media (max-width: 767px) {
         font-size: 44px;
         margin-bottom: 44px;
      }
      @media (max-width: 576px) {
         font-size: 38px;
      }
      @media (max-width: 320px) {
         font-size: 30px;
      }
   }

   .OxemForm-containerItems {
      display: flex;
      justify-content: space-between;
      gap: 32px;
      margin-bottom: 51px;

      @media (max-width: 1024px) {
         flex-direction: column;
         margin-bottom: 44px;
      }
      @media (max-width: 321px) {
         margin-bottom: 25px;
      }

      .containerItems-item {
         width: 100%;
         display: flex;
         flex-direction: column;

         .item-title {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #575757;
            margin: 0;
            margin-bottom: 24px;

            @media (max-width: 767px) {
               margin-bottom: 8px;
               font-size: 14px;
               line-height: 136%;
               color: #333e48;
            }
         }
      }
   }

   .OxemForm-buttom {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 44px;

      .buttom-btn {
         @media (max-width: 576px) {
            display: flex;
            width: 100%;
            justify-content: center;
         }
      }
   }

   .OxemForm-containerOuts {
      display: inline-flex;
      align-items: flex-start;
      align-items: center;
      gap: 180px;

      @media (max-width: 768px) {
         gap: 85px;
      }
      @media (max-width: 576px) {
         flex-direction: column;
         gap: 29px;
      }

      .containerOuts-item {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         padding: 0px;
         gap: 8px;

         .item-title {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #575757;
            margin: 0;
         }

         .item-content {
            font-family: 'Nekst-Black';
            font-style: normal;
            font-weight: 900;
            font-size: 54px;
            line-height: 90%;
            color: #333333;
            margin: 0;
         }

         @media (max-width: 1119px) {
            .item-title{
               color: #333333;
            }
         }
         @media (max-width: 576px) {
            gap: 4px;

            .item-title {
               font-size: 15px;
            }
            .item-content {
               font-size: 34px;
            }
         }
         @media (max-width: 767px) {
            gap: 2px;

            .item-title {
               font-size: 14px;
               line-height: 136%;
            }

            .item-content {
               font-size: 22px;
               line-height: 20px;
            }
         }
      }
   }
}
