@font-face {
   font-family: 'Nekst-Black';
   src: local('Nekst-Black'), url(./fonts/Nekst-Black.woff) format('woff');
}

@font-face {
   font-family: 'Gilroy';
   src: local('Gilroy-Regular'), url(./fonts/Gilroy-Regular.woff) format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   margin: 0;
}
